[submodule "code/empty-solid-app"]
	path = code/empty-solid-app
	url = https://github.com/janschill/empty-solid-app
[submodule "code/solid-shell"]
	path = code/solid-shell
	url = git@github.com:janschill/solid-shell.git
[submodule "code/solid-comment"]
	path = code/solid-comment
	url = git@github.com:janschill/solid-comment.git
[submodule "report/latex/cern-solid-code_investigation"]
	path = report/latex/cern-solid-code_investigation
	url = https://git.overleaf.com/5fca96cabee73ab97e7ea51c
[submodule "solid-spotify"]
	path = code/solid-spotify
	url = git@github.com:janschill/solid-spotify.git
